    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        list-style: none;
        padding: 24px 156px;
        margin: 0;

      }
      .gallery-item {
        flex: 0 0 calc(33.333% - 16px);
        box-sizing: border-box;

/* ------------ стилі скруглених кутів та тіні в галереї ---------- */
        border-radius: 5px; 
        overflow: hidden; 
        box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3); 
      }

      .gallery-link {
        display: block;
        width: 100%;
        height: 100%;
      }

      .gallery-image {
        display: block;
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }